camel-cxf/src/main/resources/customer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="wsdl-viewer.xsl"?>
<wsdl:definitions name="customer.wsdl"
                  targetNamespace="http://www.cognitivenode.com/customer"
                  xmlns:tns="http://www.cognitivenode.com/customer"
                  xmlns:typ="http://www.cognitivenode.com/customer/types"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl">

    <wsdl:types>
        <xsd:schema
                targetNamespace="http://www.cognitivenode.com/customer/types"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                xmlns:tns="http://www.cognitivenode.com/customer/types"
                elementFormDefault="qualified">
            <xsd:complexType name="Address">
                <xsd:sequence>
                    <xsd:element name="AddressLine1">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:length value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="AddressLine2">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:length value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="PostCode">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:pattern value="[a-zA-Z0-9]{4} [a-zA-Z0-9]{3}"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CreditCard">
                <xsd:all>
                    <xsd:element name="CardHolderName">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:length value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CardNumber">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:pattern value="[0-9]{4} [0-9]{4} [0-9]{4} [0-9]{4}"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CVC">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:length value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ExpiryDate" type="xsd:date"/>
                </xsd:all>
            </xsd:complexType>

            <!-- Grouping -->
            <xsd:complexType name="CustomerRecord">
                <xsd:sequence>
                    <xsd:element name="FirstName">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:length value="25"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="LastName">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:length value="25"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DOB" type="xsd:date"/>
                    <xsd:element name="Gender">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:pattern value="M|F|m|f"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Username">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:length value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Password">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:length value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Phone">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:length value="10"/>
                                <xsd:pattern value="[0-9]"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="BillingAddress" type="tns:Address"/>
                    <xsd:element name="ShippingAddress" type="tns:Address" minOccurs="1" maxOccurs="unbounded"/>
                    <xsd:element name="CreditCard" type="tns:CreditCard"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfCustomerRecord">
                <xsd:sequence>
                    <xsd:element name="customers" type="tns:CustomerRecord" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <!-- End of grouping-->

            <!-- Method requests name them identical to operation name -->
            <xsd:element name="GetCustomer">
                <!-- Define method parameters -->
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Username">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:length value="255"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
                <!-- End of method parameters -->
            </xsd:element>
            <xsd:element name="GetCustomers">
                <!-- Define method parameters -->
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="IgnoreMe">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:length value="255"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
                <!-- End of method parameters -->
            </xsd:element>
            <xsd:element name="GetCustomerByLastName">
                <!-- Define method parameters -->
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="LastName">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:length value="255"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
                <!-- End of method parameters -->
            </xsd:element>
            <!-- End of method requests -->

            <!-- Method response -->
            <xsd:element name="GetCustomerResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="customer" type="tns:CustomerRecord"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetCustomerByLastNameResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="customer" type="tns:CustomerRecord"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="GetCustomersResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="customers" type="tns:ArrayOfCustomerRecord"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <!-- End of method response -->
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="GetCustomer_InputMessage">
        <wsdl:part name="parameters" element="typ:GetCustomer"/>
    </wsdl:message>
    <wsdl:message name="GetCustomer_OutputMessage">
        <wsdl:part name="parameters" element="typ:GetCustomerResponse"/>
    </wsdl:message>
    <wsdl:message name="GetCustomerByLastName_InputMessage">
        <wsdl:part name="parameters" element="typ:GetCustomerByLastName"/>
    </wsdl:message>
    <wsdl:message name="GetCustomerByLastName_OutputMessage">
        <wsdl:part name="parameters" element="typ:GetCustomerByLastNameResponse"/>
    </wsdl:message>
    <wsdl:message name="GetCustomers_InputMessage">
        <wsdl:part name="parameters" element="typ:GetCustomers"/>
    </wsdl:message>
    <wsdl:message name="GetCustomers_OutputMessage">
        <wsdl:part name="parameters" element="typ:GetCustomersResponse"/>
    </wsdl:message>

    <!-- Name this something sensible as it would be used to generate Service Endpoint Interface -->
    <wsdl:portType name="ICustomerService">
        <wsdl:operation name="GetCustomer">
            <wsdl:input message="tns:GetCustomer_InputMessage"
                        wsaw:Action="http://www.cognitivenode.com/customer/GetCustomer"/>
            <wsdl:output message="tns:GetCustomer_OutputMessage"
                         wsaw:Action="http://www.cognitivenode.com/customer/GetCustomerResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetCustomerByLastName">
            <wsdl:input message="tns:GetCustomerByLastName_InputMessage"
                        wsaw:Action="http://www.cognitivenode.com/customer/GetCustomerByLastName"/>
            <wsdl:output message="tns:GetCustomerByLastName_OutputMessage"
                         wsaw:Action="http://www.cognitivenode.com/customer/GetCustomerByLastNameResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetCustomers">
            <wsdl:input message="tns:GetCustomers_InputMessage"
                        wsaw:Action="http://www.cognitivenode.com/customer/GetCustomers"/>
            <wsdl:output message="tns:GetCustomers_OutputMessage"
                         wsaw:Action="http://www.cognitivenode.com/customer/GetCustomersResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="CustomerBinding" type="tns:ICustomerService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetCustomer">
            <soap:operation soapAction="http://www.cognitivenode.com/customer/GetCustomer" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetCustomerByLastName">
            <soap:operation soapAction="http://www.cognitivenode.com/customer/GetCustomerByLastName" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetCustomers">
            <soap:operation soapAction="http://www.cognitivenode.com/customer/GetCustomers" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- This name could be controlled at implementation annotation @WebService -->
    <wsdl:service name="CustomerService">
        <wsdl:documentation>This service is responsible for everything to do with customer</wsdl:documentation>
        <!-- This name could be controlled at implementation class annotation @WebService -->
        <wsdl:port name="CustomerServicePort" binding="tns:CustomerBinding">
            <soap:address location="http://localhost:22012/customer"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>